{% extends 'productos/base.html' %}
{% load math_filters %}


{% block contenido %}
  <div class="container mt-4">
    <h2>Detalle del Pedido #{{ pedido.id }}</h2>
    <p><strong>Fecha:</strong> {{ pedido.fecha }}</p>
    <p><strong>Estado:</strong> {{ pedido.get_estado_display }}</p>
    <p><strong>Total:</strong> ${{ pedido.total }}</p>
    <p><strong>Dirección de Envío:</strong> {{ pedido.direccion_envio }}</p>

    <h4>Productos:</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Precio Unitario</th>
          <th>Subtotal</th>
        </tr>
      </thead>
      <tbody>
        {% for item in pedido.items.all %}
          <tr>
            <td>{{ item.producto.nombre }}</td>
            <td>{{ item.cantidad }}</td>
            <td>${{ item.precio }}</td>
            <td>${{ item.precio|multiply:item.cantidad }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}